@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  box-sizing: border-box;
}

.toggleHidden {
  opacity: 0;
  transition: all 2s;
  filter: blur(5px);
  transform: translateX(-100%);
}

.toggleShow {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}

.hiddeNavItems {
  display: none;
}

.showNavItems {
  display: inherit;
}
